@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.roboto{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #BFD7EA;
}

html {
    scroll-behavior: smooth;
  }